body {
    font-family: sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: flex-start; /* align top, not centered vertically */
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;  /* stack children vertically */
}

input {
  width: 80em;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.container {
    text-align: center;
    display: block;
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
}

.input-length {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  padding: 1rem;
  flex-wrap: nowrap;
  padding-left: 50%;
  padding-right: 65%;
}

.input-group,
.input-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label,
.input-width label {
    text-align: left;
    display: block;
    margin-right: 1vw;
    font-size: 1.75rem;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.x-symbol {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

input {
    width: 5rem;
    padding: 0.25rem;
    text-align: center;
}

.unit {
    font-size: 1.5rem;
}

pre {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

#result {
  text-align: center;
  justify-content: center;
}

.layout-grid {
  display: inline-block;
  transform-origin: top left;
  transform: scale(var(--scale, 1));
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.layout-row {
  display: flex;
  text-align: center;
  justify-self: center;
}

.layout-image-wrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-shrink: 0;
}

.layout-image {
  max-width: 100%;
  max-height: 86%;
  width: auto;
  height: auto;
  object-fit: contain;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}

